numpy>=1.24.0
torchvision>=0.15.0
torch>=2.0.0
gensim>=4.3.3
sentence-transformers>=2.2.0
wordcloud>=1.9.0
matplotlib>=3.6.0
nltk>=3.8.0
tqdm>=4.64.0
scipy>=1.10.0
ipywidgets>=8.0.0
ipython_genutils>=0.2.0
